{
  "presets": [
    "module:metro-react-native-babel-preset"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": "./",
        "alias": {
          "@icons": "./src/assets/icons",
          "@components": "./src/components",
          "@UI": ["src/components/UI"],
          "@styles": "./src/styles"
        }
      }
    ]
  ]
}
